<% include ..\partials\header.ejs %>
<div class="container">
<header class="jumbotron">
        <h1>Edit <%=campground.name%></h1>
</header>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <input type="text" class="form-control" name="campground[name]" value="<%=campground.name%>">
    <p></p>
    <input type="text" class="form-control" name="campground[image]" value="<%=campground.image%>">
    <p></p>
    <textarea class="form-control" name="campground[description]" class="form-control" cols="5" rows="10" ><%=campground.description %></textarea>
    <p></p>
    <p>
   <button class="btn btn-lg btn-outline-success">Submit!</button></p>
</form>
<a href="/campgrounds">Go Back</a>
</div>
<% include ..\partials\footer.ejs %>